
<app-header></app-header>

<form [formGroup]="dropDownForm" (ngSubmit)="onDropDown()">
  <div class="row" style=" margin-top: 10%;">
   
    <div class="col-md-2 mb-4 pb-2"></div>
    
    <div class="col-md-3 mb-4 pb-2">
      <select   class="form-control" formControlName="accountNumber" >
        <option value="">Remitter Account Number</option>
        <option *ngFor="let remitterSingle of remitterDetails;" [value]="remitterSingle.account.accountNumber">
            {{remitterSingle.account.accountNumber}}
        </option>
    </select>  
    </div> 
    <div class="col-md-6 mb-4 pb-2">
      <button style="margin-left: 10; width: 100px;" [disabled]="dropDownForm.invalid" type="submit" class="btn btn-success ">Fetch  </button>
      <button style="margin-left: 10%; width: 100px;" [disabled]="remitterForm.invalid" type="submit" class="btn btn-warning" (click) = "updateRemitter()">Update</button>
      <button style="margin-left: 10%; width: 100px;"[disabled]="dropDownForm.invalid" type="submit" class="btn btn-danger" (click) = "deleteRemitter()" >Delete</button>
    </div>
    
    <div class="col-md-1 mb-4 pb-2"></div>
 
  </div>
</form>

<h1 class="text-center">Remitter Registration</h1>
    <form [formGroup]="remitterForm" (ngSubmit)="remitrerCall()">
      <!-- <div class="form-group"></div> -->
    
      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="text" class="form-control"  placeholder="Enter Name" formControlName="name">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.name.invalid && remitterForm.controls.name.touched">Name required</span>
          <span class="text-success" *ngIf="remitterForm.controls.name.valid">Good</span>
        </div>
        </div>
      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="text" class="form-control"  placeholder="Enter Email Address" formControlName="email">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.email.invalid && remitterForm.controls.email.touched">Email Address required</span>        
          <span class="text-success" *ngIf="remitterForm.controls.email.valid">Good</span>
        </div> 
      </div> 

      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="text" class="form-control"  placeholder="Enter Address" formControlName="address">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.address.invalid && remitterForm.controls.address.touched">Address required</span>
          <span class="text-success" *ngIf="remitterForm.controls.address.valid">Good</span>
 
        </div> 
      </div>

      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="password" class="form-control"  placeholder="Enter Password" formControlName="password">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.password.invalid && remitterForm.controls.password.touched">Password required</span>
          <span class="text-success" *ngIf="remitterForm.controls.password.valid">Good</span>

        </div> 
     </div>

     <div class="row">
      <div class="col-md-3 mb-4 pb-2"></div>
      <div class="col-md-6 mb-4 pb-2">
        <input type="number" class="form-control"  placeholder="Enter Mobile Number" formControlName="contactNo">
      </div>
      <div class="col-md-3 mb-4 pb-2">
        <span class="text-danger" *ngIf="remitterForm.controls.contactNo.invalid && remitterForm.controls.contactNo.touched">Contact Number required</span>
        <span class="text-success" *ngIf="remitterForm.controls.contactNo.valid">Good</span>

      </div> 
   </div>

    
      
      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="text" class="form-control"  placeholder="Enter Account Number" formControlName="accountNumber">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.accountNumber.invalid && remitterForm.controls.accountNumber.touched">Account Number required</span>
          <span class="text-success" *ngIf="remitterForm.controls.accountNumber.valid">Good</span>
        </div>
          
        </div> 

      <div class="row">
        <div class="col-md-3 mb-4 pb-2"></div>
        <div class="col-md-6 mb-4 pb-2">
          <input type="text" class="form-control"  placeholder="Enter Account Balance" formControlName="accountBalance">
        </div>
        <div class="col-md-3 mb-4 pb-2">
          <span class="text-danger" *ngIf="remitterForm.controls.accountBalance.invalid && remitterForm.controls.accountBalance.touched">Account Balance required</span>
          <span class="text-success" *ngIf="remitterForm.controls.accountBalance.valid">Good</span>

        </div>
      </div> 
    

     
     <div class="row" style="margin: auto; margin-left: 20%;">
      <div class="col-md-3 mb-4 pb-2"></div>
      <div class="col-md-6 mb-4 pb-2" >
        <div class="form-group">
          <label for="">Account Status:</label>
          <input type="radio" class="form-check-input" id="active" value="1" formControlName="accountStatus">Active
          <input type="radio" class="form-check-input" id="Inactive" value="0" formControlName="accountStatus">Inactive
          <span style="margin-left: 20px;" class="text-danger" *ngIf="remitterForm.controls.accountStatus.invalid">Account Status required</span>
          <span class="text-success" *ngIf="remitterForm.controls.accountStatus.valid">Good</span>

        </div>
      </div>
      <div class="col-md-3 mb-4 pb-2">
        
      </div>
    </div>
     


    <div class="row">
      <div class="col-md-3 mb-4 pb-2"></div>
      <div class="col-md-2 mb-4 pb-2" >
        <span *ngIf="remitterForm.invalid" style="color: red;">* feilds are required</span>    
        <span *ngIf="remitterForm.valid" style="color: green;" >Good To Register Remitter</span>    
      </div>
      <div class="col-md-3 mb-4 pb-2">
        <!-- <button type="submit" [disabled]="remitterForm.invalid" class="btn btn-outline-primary">Create</button> -->
        <button   type="submit" [disabled]="remitterForm.invalid" class="btn btn-info">Register</button>
        <button  style=" margin-left: 20px; width: 5.5rem;" type="reset" class="btn btn-danger">Reset</button>
      </div>
      
      <div class="col-md-3 mb-4 pb-2"></div>
      </div>

      
    </form>
 
  <app-footer></app-footer>