
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
     
  
      <!-- Login Form -->
      <h1>Remitter Login</h1>
      <form [formGroup]="loginUser" (ngSubmit)="login()">
        <br>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter username" formControlName="email">
        <span class="text-danger" *ngIf="loginUser.controls.email.invalid  && (loginUser.controls.email.dirty || loginUser.controls.email.touched)" >Username is required field</span>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Enter password" formControlName="password">
        <span class="text-danger" *ngIf="loginUser.controls.password.invalid && (loginUser.controls.password.dirty || loginUser.controls.password.touched)" >password is required field</span>
       <div class="row">
        <div class="col-md-6">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </div>
        <div class="col-md-6">
          <input type="reset" class="fadeIn fourth" value="Reset">
        </div>
       </div>
      </form>
    </div>
  </div>
  <!-- ================================================================================================== -->

