
<app-header></app-header>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{remitterDetails.remitter.name}}</h3>
                                    <div *ngIf="remitterDetails.accountStatus==1;then activecontent;else inactivecontent"></div>
                                    <ng-template #activecontent>
                                        <span class="text-primary">Active {{remitterDetails.remitter.customerId}}</span>
                                    </ng-template> 
                                    <ng-template #inactivecontent>
                                        <span class="text-primary">Inactive {{remitterDetails.remitter.customerId}}</span>
                                    </ng-template>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Account Number:</span> {{remitterDetails.accountNumber}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Balance:</span> ₹{{remitterDetails.accountBalance}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{remitterDetails.remitter.email}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> {{remitterDetails.remitter.address}}</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>{{remitterDetails.remitter.contactNo}}</li>
                                </ul>
                                <!-- <div class="search-results" *ngFor="let user of extResults;let i = index;">
                                    <div (mouseenter)="mouseHovering(i)" (mouseleave)="mouseLeft(i)">
                                      <div>{{ user.user }}</div>
                                      <div class="ext">
                                         <span class="icon-phone icon-font-icon_Phone"></span>{{ user.ext }}
                                          <div *ngIf="user.isHovering">
                                          <a [href]="'mailto:' + user.email" class="anchor"
                                          ><span class="icon-email icon-font-icon_Mail name"></span>
                                          <span class="email-text">Email</span></a>
                                      </div>
                                    </div>
                                   </div>
                                 </div> -->
                                <!-- <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>